[submodule "bytecash-blockchain-gui"]
	path = bytecash-blockchain-gui
	url = https://github.com/konarshankar07/bytecash-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
